# Ignorar todos los archivos de texto excepto original.txt
*.txt
!original.txt
!origin.txt

# Ignorar todos los archivos .json
*.json

# Ignorar el directorio .vscode y todo su contenido
.vscode/

# Ignorar todos los archivos ejecutables
*.exe

# Ignorar todos los archivos gch
*.gch

# Ignorar todos los archivos de .sha
*.sha

# Ignorar todos los archivos de .des
*.des